$darkgray: #666666;
$gray: #F3F3F7;
$blue: #2F8BCA;
$darkblue: #2978AD;
$lightblue: rgba(47, 139, 202, 0.1);
$red: rgba(204,0,0,1);
$purple: #A94CAF;
$orange: #FF9933;
$green: #3FB777;

$tablets: 768px;
$phones: 480px;
